@page "/enginevsengine"
@using pax.chess
@using pax.uciChessEngine
@inject EngineService engineService
@implements IDisposable

<PageTitle>EngineVsEngine</PageTitle>
@if (EngineGames.Count > 0)
{
    <ul class="nav nav-tabs">
        @foreach (var game in EngineGames)
        {
            if (EngineGame == game)
            {
                <li class="nav-item">
                    <a class="nav-link active pointer" data-bs-toggle="tab" href="#home">@game.Game.GameGuid.ToString().Substring(0, 5)</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <span class="nav-link text-white-50 pointer" data-bs-toggle="tab" href="#home" @onclick="e => SwitchGame(game)">@game.Game.GameGuid.ToString().Substring(0, 5)</span>
                </li>
            }
        }
    </ul>
}
<div class="tab-content">
    <div class="tab-pane fade" id="home">
    </div>
</div>

@if (EngineGame != null)
{
    <div class="d-flex">
        <div>
            <div style="width: 40vw;">
                <div class="btn-group">
                    @if (!EngineGame.Playing)
                    {
                        <span class="oi oi-cog pointer me-2" @onclick="e => eveOptionsModal?.Show(EngineGame.Options)"></span>
                        <button type="button" class="btn btn-sm btn-outline-success" @onclick="Start">Start</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-sm btn-outline-warning" @onclick="Stop">Stop</button>
                    }
                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="Delete">Delete</button>
                </div>

            </div>
            <div>
                <BoardContainer @ref="boardContainer" Game="EngineGame.Game"></BoardContainer>
            </div>
        </div>
        <div class="mt-2">
            <div>
                <GameTimeComponent @ref="gameTimeComponent" Game="EngineGame.Game"></GameTimeComponent>
            </div>
            @if (BlackEvent != null)
            {
                <div class="d-flex justify-content-start mt-4">
                    <div class="col-6">
                        @if (EngineGame.Game.State.Info.BlackToMove)
                        {
                            <h5><span class="badge bg-primary"><span class="oi oi-arrow-circle-right text-black"></span> @BlackEvent.EngineName</span></h5>
                        }
                        else
                        {
                            <h5><span class="badge bg-primary">@BlackEvent.EngineName</span></h5>
                        }
                    </div>
                    <div class="col-6">
                        <h5><span class="badge bg-info">Eval @BlackEval.ToString()</span></h5>
                    </div>
                </div>
            }
            @if (WhiteEvent != null)
            {
                <div class="d-flex justify-content-start mt-2">
                    <div class="col-6">
                        @if (!EngineGame.Game.State.Info.BlackToMove)
                        {
                            <h5><span class="badge bg-primary"><span class="oi oi-arrow-circle-right text-white"></span> @WhiteEvent.EngineName</span></h5>
                        }
                        else
                        {
                            <h5><span class="badge bg-primary">@WhiteEvent.EngineName</span></h5>
                        }
                    </div>
                    <div class="col-6">
                        <h5><span class="badge bg-info">Eval @WhiteEval.ToString()</span></h5>
                    </div>
                </div>
            }
            <div>
                <div class="mt-4 col-7">
                    <button type="button" class="btn btn-sm btn-primary" @onclick="ShowPgn">ShowPgn</button>
                    @if (showPgn)
                    {
                        <div class="mt-1">
                            @PgnString
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Start new Engine vs Engine game ...</p>
}
<EveOptionsModal @ref="eveOptionsModal" Options="Options" OnSettingsChoosen="Start"></EveOptionsModal>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public Guid? GameId { get; set; }

    List<EngineGame> EngineGames = new List<EngineGame>();
    EngineGame? EngineGame;

    EngineMoveEventArgs? WhiteEvent;
    EngineMoveEventArgs? BlackEvent;
    Evaluation WhiteEval = new Evaluation(0, 0, false);
    Evaluation BlackEval = new Evaluation(0, 0, true);
    EngineGameOptions Options = new EngineGameOptions();

    BoardContainer? boardContainer;
    EveOptionsModal? eveOptionsModal;
    GameTimeComponent? gameTimeComponent;

    bool showPgn = false;
    string PgnString = String.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        EngineGames = engineService.GetEngineGames().ToList();

        if (GameId != null)
        {
            EngineGame = EngineGames.SingleOrDefault(s => s.EngineGameGuid == GameId);
        }
        else
        {
            EngineGame = EngineGames.FirstOrDefault();
        }
        if (EngineGame != null && EngineGame.Playing)
        {
            EngineGame.EngineMoved += EngineMoved;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            if (EngineGame != null && !EngineGame.Playing)
            {
                Options = EngineGame.Options;
                eveOptionsModal?.Show(EngineGame.Options);
            }
            else
            {
                gameTimeComponent?.Start();
            }
        }
    }

    private void SwitchGame(EngineGame engineGame)
    {
        EngineGame = engineGame;
    }

    void EngineMoved(object? sender, EngineMoveEventArgs e)
    {
        if (EngineGame != null)
        {
            if (e.GameOver)
            {
                Console.WriteLine($"GameOver - Result: {EngineGame.Game.Result} | {EngineGame.Game.Termination}");
                InvokeAsync(() => StateHasChanged());
                return;
            }

            if (EngineGame.Game.State.Info.BlackToMove)
            {
                WhiteEvent = e;
                WhiteEval = new Evaluation(e.EngineInfo.Evaluation, e.EngineInfo.Mate, false);
                gameTimeComponent?.Update(true);
            }
            else
            {
                BlackEvent = e;
                BlackEval = new Evaluation(e.EngineInfo.Evaluation, e.EngineInfo.Mate, true);
                gameTimeComponent?.Update(false);
            }
            InvokeAsync(() => StateHasChanged());
        }
    }

    public void Start()
    {
        if (EngineGame != null && !EngineGame.Playing)
        {
            EngineGame.Game.Infos["Event"] = "Engine vs Engine";
            EngineGame.Game.Infos["Site"] = Guid.NewGuid().ToString();
            EngineGame.Game.Infos["UTCDate"] = DateTime.UtcNow.ToString("yyyy.MM.dd");
            EngineGame.Game.Infos["UTCTime"] = DateTime.UtcNow.ToString("hh:mm:ss");
            EngineGame.Game.Infos["White"] = EngineGame.WhiteEngine?.Name ?? "";
            EngineGame.Game.Infos["Black"] = EngineGame.WhiteEngine?.Name ?? "";
            EngineGame.Game.Infos["TimeControl"] = ((int)EngineGame.Game.Time.WhiteTime.TotalSeconds).ToString() + "+" + ((int)EngineGame.Game.Time.WhiteIncrement.TotalSeconds).ToString();
            EngineGame.EngineMoved += EngineMoved;
            engineService.SetEngineGameOptions(EngineGame, Options);
            _ = EngineGame.Start();
            gameTimeComponent?.Start();
            InvokeAsync(() => StateHasChanged());
        }
    }

    public void Stop()
    {
        EngineGame?.Stop();
        gameTimeComponent?.Stop();
        InvokeAsync(() => StateHasChanged());
    }

    public void Delete()
    {
        if (EngineGame != null)
        {
            engineService.DeleteEngineGame(EngineGame);
        }
    }

    private void ShowPgn()
    {
        showPgn = !showPgn;
        if (showPgn && EngineGame != null)
        {
            PgnString = Pgn.MapPieces(EngineGame.Game.State);
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        if (EngineGame != null)
        {
            EngineGame.EngineMoved -= EngineMoved;
        }
    }
}
