@page "/review"
@using pax.BlazorChess.Models
@using pax.BlazorChess.Services
@using pax.chess
@using pax.uciChessEngine
@using System.Text.Json
@inject EngineService engineService
@inject DbService dbService
@inject ILogger<ReviewPage> logger

<div class="btn-group">
    <button type="button" class="btn btn-outline-light" @onclick="e => loadModal?.Show()">Import</button>
    @if (!Analyzing)
    {
        <button type="button" class="btn btn-outline-warning" @onclick="@( async() => _ = Analyse())">Analyze</button>
    }
    else
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <button type="button" class="btn btn-danger ms-2" @onclick="Stop">Stop</button>
    }
    <span class="oi oi-cog pointer ms-5" @onclick="e => settingModal?.Show(reviewSettings)"></span>
</div>
<div class="d-flex">
    @if (Analysis != null)
    {
        <div>
            <div>
                @if (CurrentInfo != null)
                {
                    <div class="d-flex justify-content-start mt-3">
                        @if (NextInfo != null)
                        {
                            <div class="border rounded p-1">
                                <h4><span class="badge bg-secondary">Game: @CurrentInfo.GameMove.PgnMove</span></h4>
                                <h4><span class="badge bg-info">Game Eval @NextInfo.BestMove.Evaluation</span></h4>
                                <button type="button" class="btn btn-sm btn-outline-light" @onclick="ShowBestLine">Show Line</button>
                            </div>
                        }
                        <div class="border rounded p-1">
                            <h4><span class="badge bg-primary">Bestmove: @CurrentInfo.BestMove.PgnMove</span></h4>
                            <h4><span class="badge bg-info">Eval @CurrentInfo.BestMove.Evaluation</span></h4>
                        </div>
                        @if (CurrentInfo.RunnerMoves.Any())
                        {
                            <div class="border rounded p-1">
                                <h4><span class="badge bg-secondary">2nd Best: @CurrentInfo.RunnerMoves[0].PgnMove</span></h4>
                                <h4><span class="badge bg-info">Runner Eval @CurrentInfo.RunnerMoves[0].Evaluation</span></h4>
                            </div>
                        }
                    </div>
                }
            </div>
            <BoardContainer @ref="boardContainer" Game="Analysis.Game" ShowBoard="false" OnObserverMoveChanged="ObserverMoveChanged"></BoardContainer>

        </div>
    }
    else
    {

    }
    <div class="ms-4">
        <div style="width: 40vw;">
            <ChartComponent @ref="chart" Chart="_chart" OnChartClicked="ChartClicked"></ChartComponent>
        </div>
        @*        <table class="table table-striped">
            <thead>
            <tr>
            <th>#</th>
            <th>BestMove</th>
            <th>Eval</th>
            <th>Ponder</th>
            <th>PonderEval</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var info in Infos.OrderBy(o => o.HalfMoveNumber))
            {
            <tr>
            <td>@info.HalfMoveNumber</td>
            <td>@info.BestMove</td>
            <td>@info.Eval</td>
            <td>@info.RunnerMove</td>
            <td>@info.RunnerEval</td>
            </tr>
            }
            </tbody>
            </table>*@
    </div>
</div>
<LoadModal @ref="loadModal" Loaded="GameImport"></LoadModal>
<SettingsModal @ref="settingModal" Setting="SettingsModal.PageSetting.Review" OnSettingsChoosen="SettingsChoosen"></SettingsModal>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int? GameId { get; set; } = 22;

    List<GameAnalyzes> GameAnalyzis = new List<GameAnalyzes>();
    GameAnalyzes? Analysis;
    BoardContainer? boardContainer;
    ChartComponent? chart;
    LoadModal? loadModal;
    SettingsModal? settingModal;

    CancellationTokenSource cts = new CancellationTokenSource();

    List<Rating> Infos = new List<Rating>();
    private Rating? CurrentInfo;
    private Rating? NextInfo;

    private Chart _chart = ChartService.GetRatingChart();
    private bool Analyzing = false;

    private ReviewSettings reviewSettings = new ReviewSettings();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        reviewSettings.EngineString = engineService.AvailableEngines.First().Key;
        _ = Init();
    }

    private async Task Init()
    {
        GameAnalyzis = engineService.GetGameAnalyses();
        if (GameId == null)
        {
            Analysis = GameAnalyzis.FirstOrDefault();
        }
        else
        {
            var game = await dbService.GetGameFromIdAsync((int)GameId);
            if (game != null)
            {
                Analysis = engineService.CreateGameAnalyzes(game, reviewSettings.EngineString);
            }
        }
        await InvokeAsync(() => StateHasChanged());
        if (Analysis != null)
        {
            _chart.data.labels = Analysis.Game.State.Moves.Select(s => s.HalfMoveNumber.ToString()).ToList();
        }
    }

    private void GameImport(Game game)
    {
        Analysis = engineService.CreateGameAnalyzes(game, reviewSettings.EngineString);

    }

    private void SettingsChoosen()
    {
        if (Analysis != null)
        {
            engineService.DeleteGameAnalyzes(Analysis);
            Analysis = engineService.CreateGameAnalyzes(Analysis.Game, reviewSettings.EngineString);
        }
    }

    private void ChartClicked(string label)
    {
        if (Analysis != null)
        {
            int i;
            if (int.TryParse(label, out i))
            {
                Analysis.Game.ObserverMoveTo(i);
                ObserverMoveChanged();
                boardContainer?.Focus();
            }
        }
    }

    private void UpdateChart()
    {
        _chart.data.datasets[0].data = Infos.OrderByDescending(o => o.BestMove.HalfMoveNumber).Select(s => s.BestMove.Evaluation != null ? s.BestMove.Evaluation.ChartScore() : 0).ToList();
        chart?.UpdateDataset(_chart.data.datasets[0]);
    }

    private void ObserverMoveChanged()
    {
        if (Analysis != null && Analysis.Game.ObserverState.CurrentMove != null && Analysis.Game.ObserverState.CurrentMove.Variation == null)
        {
            CurrentInfo = Infos.FirstOrDefault(f => f.BestMove.HalfMoveNumber == Analysis.Game.ObserverState.CurrentMove.HalfMoveNumber);
            NextInfo = Infos.FirstOrDefault(f => f.BestMove.HalfMoveNumber == Analysis.Game.ObserverState.CurrentMove.HalfMoveNumber + 1);
            if (CurrentInfo != null)
            {
                var move = CurrentInfo.BestMove;
                var runnermove = CurrentInfo.RunnerMoves.FirstOrDefault();
                if (move != null && runnermove != null)
                {
                    boardContainer?.DrawHints(new List<EngineMove>() { move.EngineMove, runnermove.EngineMove }, true);
                }
                InvokeAsync(() => StateHasChanged());
            }
            chart?.DrawHorizontalLine(Analysis.Game.ObserverState.CurrentMove.HalfMoveNumber);
        }
    }

    private async Task Analyse()
    {
        int i = 0;
        if (Analysis != null)
        {
            _chart.data.labels = Analysis.Game.State.Moves.Select(s => s.HalfMoveNumber.ToString()).ToList();
            chart?.UpdateLabels(_chart.data.labels);
            Analyzing = true;
            await InvokeAsync(() => StateHasChanged());
            Infos.Clear();
            try
            {
                await foreach (var info in Analysis.Analyze(cts.Token, TimeSpan.FromMilliseconds(reviewSettings.MsPerMove), 2, reviewSettings.Threads))
                {
                    i++;
                    Infos.Add(info);
                    if (i % 10 == 0)
                    {
                        List<string> labels = Analysis.Game.State.Moves.Select(s => s.HalfMoveNumber.ToString()).ToList();
                        List<double> data = Enumerable.Repeat(0.0, Analysis.Game.State.Moves.Count).ToList();
                        for (int j = 0; j < Infos.Count; j++)
                        {
                            var bestmove = Infos[j].BestMove;
                            data[bestmove.HalfMoveNumber] = bestmove.Evaluation != null ? bestmove.Evaluation.ChartScore() : 0;
                        }
                        _chart.data.datasets[0].data = data;
                        chart?.UpdateDataset(_chart.data.datasets[0]);
                        await InvokeAsync(() => StateHasChanged());
                    }
                }
            }
            catch (OperationCanceledException) { }
            finally
            {
                _chart.data.datasets[0].data = Infos.OrderBy(o => o.BestMove.HalfMoveNumber).Select(s => s.BestMove.Evaluation != null ? s.BestMove.Evaluation.ChartScore() : 0).ToList();
                chart?.UpdateDataset(_chart.data.datasets[0]);
                Analyzing = false;
                await InvokeAsync(() => StateHasChanged());
            }
        }
    }

    private void ShowBestLine()
    {
        if (CurrentInfo != null && Analysis != null)
        {
            Analysis.Game.ObserverMoveBackward();
            Analysis.Game.ObserverMoveBackward();

            for (int i = 0; i < CurrentInfo.BestLine.Count; i++)
            {
                Analysis.Game.VariationMove(CurrentInfo.BestLine[i]);
            }
        }
    }

    private void Stop()
    {
        cts.Cancel();
    }
}
